/* Font Faces */
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff') format('woff'),
       url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff') format('woff'),
       url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff') format('woff'),
       url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* General Styling */
body {
    font-family: 'Phantom Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ec3750; /* Red */
    color: #ffffff;
}

.container {
    text-align: center;
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #338eda; /* Blue */
    font-weight: bold;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #8492a6; /* Muted */
    border-radius: 4px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
}

input::placeholder {
    color: #cccccc;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #33d6a6; /* Green */
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    background-color: #24b47e; /* Darker Green */
}

#qr-code {
    margin-top: 20px;
}

img {
    border: 2px solid #f1c40f; /* Yellow */
    border-radius: 4px;
}
